{% extends 'base.html' %}

{% block title %} Test {% endblock title %}

{% block content %}

<h2>Random Text</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, voluptatibus. Perferendis unde esse soluta obcaecati.
    Eveniet magnam accusamus accusantium sunt a quod eligendi error molestiae autem necessitatibus exercitationem, ipsa
    asperiores odio sed? Fugiat ratione, ipsum nihil magni maxime excepturi eveniet consequatur sunt deleniti labore,
    illo saepe maiores corporis et aut est amet aliquam magnam tenetur enim? Provident sit tenetur, alias natus
    repudiandae quam. Blanditiis dicta quas cumque doloribus ducimus maxime. Aliquam nostrum placeat nam vel optio iusto
    sunt voluptatem ex culpa vero. Beatae, itaque, corrupti perferendis omnis animi nihil odit rerum dolor cum
    architecto ratione tenetur molestiae laboriosam! Qui, minus!</p>

{% endblock content %}